* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.4;
    color: black;
    background-color: white;
}

a{
    color: #00a24b;
    text-decoration: none;
}

a:hover {
    color: #E8A062;
}

main {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    background-color: #000;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

header img  {
    max-width: 160px;
}

h1 {
    color: #FDC032;
    font-size: 4rem;
    line-height: .9;
}

h2 {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: left;
    margin: 60px 0 20px;
}

h {
    font-family: Georgia, sans-serif;
    font-size: 4rem;
    line-height: .9;
}

li {
    padding: 10px 40px;
}

footer {
    background-color: #823922;
    color: white;
    padding: 10px;
    margin: 20px auto 40px;
}

h1,
h2 {
    font-weight: bold;
    font-family: Georgia, sans-serif;
}

p {
    line-height: 1.5;
}

